extends ./index

block title
	title Customers
	

block content
	if customers.length==0
		p.text-danger All customers will be listed here. You have not added any customer yet.

	
	h2 Customers :
	for c in customers
		a(href='/customer/'+c._id) #{c.name}
		br 
